# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Testing / Cache
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
local_cache/
